<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baby.babycareproductsshop.order.ordermain.AddressProductMapper">

    <select id="seeAddressDetails">
        SELECT iaddress,
        zip_code AS zipCode,
        address,
        address_detail AS addressDetail

        FROM t_address

        WHERE iuser = #{iuser}
    </select>

    <select id="seeProducts">
        SELECT A.iproduct AS iproduct,
        A.product_total_price AS productTotalPrice,
        A.product_cnt AS productCnt,
        B.product_nm AS productNm,
        B.rep_pic AS repPic

        FROM t_order_details A
        JOIN t_product B ON A.iproduct = B.iproduct

        WHERE A.iorder = #{iorder}

    </select>
</mapper>