<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baby.babycareproductsshop.order.ordermain.OrderMapper">
    <insert id="insOrder" useGeneratedKeys="true" keyProperty="iorder">
        INSERT INTO t_order
        SET iuser = #{iuser},
        iaddress = #{iaddress},
        created_at = NOW()
    </insert>

    <update id="updateOrder">
        UPDATE t_order
        SET iaddress = #{iaddress},
        addressnm = #{addressnm},
        phonenumber = #{phonenumber},
        email = #{email},
        ipayment_option = #{ipaymentoption}

        WHERE iorder = #{iorder}
    </update>

    <!-- <select id="seeOrder">
        SELECT A.iorder AS iorder,
        B.iaddress AS iaddress,
        B.address_detail AS addressdetail,
        D.iproduct_pics AS iproduct_pics,
        C.product_nm AS productNm,
        C.price AS price,
        count(CASE WHEN A.iproduct = #{iproduct} then 1 END) AS product_cnt,
        SUM(case when A.iproduct = #{iproduct} then 1 END) AS product_price,
        COUNT(A.iproduct) AS total_cnt,
        SUM(C.price) AS total_price

        FROM t_order A
        JOIN t_address B ON A.iaddress = B.iaddress
        JOIN t_product C ON A.iproduct = C.iproduct
        JOIN t_product_pics D ON C.iproduct = D.iproduct

        WHERE A.iuser = #{iuser}
    </select> -->

    <select id="seeOrder">
        SELECT A.iorder AS iorder,
        B.iaddress AS iaddress,
        B.address_detail AS addressdetail,
        C.iproduct AS iproduct,
        D.iproduct_pics AS iproduct_pics,

        FROM t_order A
        JOIN t_address B ON A.iaddress = B.iaddress
        JOIN t_product C ON A.iproduct = C.iproduct
        JOIN t_product_pics D ON C.iproduct = D.iproduct

        WHERE A.iuser = #{iuser}
    </select>

    <select id="seeaddress">
        SELECT A.address_detail, B.iorder FROM t_address A
        JOIN t_order B ON A.iaddress = B.iaddress
        WHERE A.iorder = #{iorder}
    </select>

    <select id="getAfterOrder">
        SELECT A.idetails AS idetails,
        A.created_at AS createdAt,
        A.iproduct AS iproduct,
        C.product_nm AS productNm,
        C.price AS price,
        B.totalprice = SUM(C.price) AS totalprice,
        D.address AS address,
        D.address_detail AS addressdetail,
        B.email AS email,
        B.ipayment_option AS ipaymentoption

        FROM t_order_details A
        JOIN t_order B ON A.iorder = B.iorder
        JOIN t_product C ON B.iproduct = C.iproduct
        JOIN t_address D ON B.iaddress = D.iaddress

        WHERE A.iorder = #{iorder}
    </select>

    <update id="cancelOrder">
        UPDATE t_order_details
        <choose>
            <when test="deletefl == 1">
                SET process_state = 4
            </when>
            <when test="refundfl == 1">
                SET process_state = 5
            </when>
        </choose>
    </update>

    <delete id="RefundOrder">
        DELETE FROM t_order
        WHERE iorder = #{iorder}
    </delete>
</mapper>